header {
  width: 100%;
  height: .88rem;
  background: #1b1b1f;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}

header h3 {
  font-size: .4rem;
}

header p {
  position: absolute;
  left: .26rem;
  display: -webkit-flex;
  align-items: center;
}

header p .icon-xiangzuo {
  font-size: .4rem;
  margin-right: 0;
}

header p span {
  font-size: .28rem;
  margin-right: .2rem;
}

header .icon-gengduomore10 {
  position: absolute;
  right: .26rem;
  font-size: .4rem;
}
